.albumDetailHeader {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  align-items: top;
  justify-content: center;
  padding: 3.2rem;
  margin: 0 0 2.4rem 0;
  border: 1px solid white;
  box-shadow: 4px 5px 0 0 white;
}

.albumName {
  font-size: 2.8rem;
  color: #eee;
  margin: 0;
  /* padding: 3.2rem 0 0 0; */
}

.albumCover {
  /* max-width: 25rem !important; */
  width: 225px;
  aspect-ratio: 1 / 1;
  border: 1px solid white;
}

.artistInfo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.artistName {
  font-size: 1.6rem;
  padding: 1.2rem;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

.artistImage {
  width: 5rem;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  margin: 2rem 1rem;
  display: inline-block;
}

/* .artistInfo {
  display: flex;
  flex-direction: row;
} */

.infoDiv {
  margin: 10px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.albumDescription {
  display: grid;
  grid-template-columns: 0.5fr 0.75fr 1fr;
  /* padding: 1.2rem; */
  color: white;
}

.albumStat {
  font-size: 1.8rem;
  padding: 0.9rem 1.8rem;
  margin: 0;
}

.albumStatTitle {
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255, 0.05);
  box-shadow: 0px 0px 7px 7px rgb(255, 255, 255, 0.05);
  width: fit-content;
}

.flexRow {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
