.artistInfo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.artistName {
  font-size: 1.6rem;
  padding: 1.2rem;
  display: inline-block;
}

.artistName:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.artistImage {
  width: 5rem;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  margin: 2rem 1rem;
  display: inline-block;
}

.errorMessage {
  color: red;
  font-size: 1.2rem;
  padding: 1rem;
  display: inline-block;
  border: 1px solid red;
  box-shadow: 4px 5px 0px 0px red;
}
