.trackListContainer {
  max-width: 120rem;
  margin: 0 auto;
  border: 1px solid white;
  box-shadow: 4px 5px 0 0 white;
  margin-bottom: 2.4rem;
  padding: 3.2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.trackListHeading {
  font-size: 2.2rem;
  color: white;
  padding: 1rem;
  margin: 1rem;
  text-decoration: underline;
}

.trackList {
  color: white;
  padding: 1rem;
  margin: 0 auto;
}

@media (max-width: 1260px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .trackListContainer {
    width: 90%;
    padding: 2.2rem;
    margin: 0 auto 2.4rem auto;
  }
}

@media (max-width: 1000px) {
  .trackList {
    padding: 0;
  }
}

@media (max-width: 790px) {
  .trackListContainer {
    padding: 0;
    border: none;
    box-shadow: none;
    width: 100%;
  }
}
