.trackListItem {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.25fr 0.25fr;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
}

.trackName,
.trackNumber,
.trackArtists,
.trackDuration,
.trackRating {
  align-self: center;
}

.trackName {
  font-weight: 600;
  white-space: break-spaces;
}

.trackRating {
  text-align: center;
  padding: 0.5rem;
}

.perfect {
  background-color: #9b59b6;
}

.amazing {
  background-color: #5c7cfa;
}

.great {
  background-color: #339af0;
}

.good {
  background-color: #51cf66;
}

.meh {
  background-color: #f1c40f !important;
}

.bad {
  background-color: #e67e22;
}

.awful {
  background-color: #e74c3c;
}

.nonSong {
  background-color: #34495e;
}

@media (max-width: 1000px) {
  .trackListItem {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 790px) {
  .trackListItem {
    grid-template-columns: 0.1fr 1fr 1fr 0.25fr;
  }
  .trackDuration {
    display: none;
  }

  .trackListItem {
    font-size: 1.2rem;
  }

  .trackArtists,
  .trackName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 550px) {
  .trackListItem {
    grid-template-columns: 0.1fr 1fr 0.25fr;
  }
  .trackArtists {
    display: none;
  }
}
