.trackListItem {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.25fr 0.25fr;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  /* border: 1px solid white; */
}

.trackName,
.trackNumber,
.trackArtists,
.trackDuration,
.trackRating {
  align-self: center;
}

.trackName {
  font-weight: 600;
}

.trackRating {
  text-align: center;
  padding: 0.5rem;
  /* border: 1px solid white; */
}

.perfect {
  background-color: #9b59b6;
  /* color: #9b59b6; */
}

.amazing {
  background-color: #5c7cfa;
  /* color: #5c7cfa; */
}

.great {
  background-color: #339af0;
  /* color: #339af0; */
}

.good {
  background-color: #51cf66;
  /* color: #51cf66; */
}

.meh {
  background-color: #f1c40f !important;
  /* color: #f1c40f !important; */
}

.bad {
  background-color: #e67e22;
  /* color: #e67e22; */
}

.awful {
  background-color: #e74c3c;
  /* color: #e74c3c; */
}

.nonSong {
  background-color: #34495e;
  /* color: #34495e; */
}
