.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navListItem {
  margin: 1.3rem;
}

.navListItem,
.navListItem a {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  padding: 5px;
}

.navTitle {
  font-size: 2.4rem;
  font-weight: bold;
  width: fit-content;
  margin: 1rem auto;
  color: white;
  border: 1px solid white;

  padding: 5px;
  box-shadow: 2px 3px 0px 0px white;
}

.navHeader {
  margin-bottom: 6.4rem;
}

.active {
  border: 1px solid white;
}

@media (max-width: 768px) {
  .navList {
    justify-content: center;
  }

  .navTitle {
    font-size: 1.8rem;
  }

  .navListItem,
  .navListItem a {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .navList {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navListItem,
  .navListItem a {
    margin: 5px;
  }
}
