* {
  font-family: "Courier Prime", monospace;
}

.albumCard {
  width: 200px;
  aspect-ratio: 2/1;
  max-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-bottom: 10px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.albumCard:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px white;
  transform: translateY(-10px);
  transition: ease-in 0.2s;
}

.albumCard img {
  width: 150px;
  height: auto;
  margin: 20px;
  border: 1px solid white;
}

.albumTitle {
  width: 90%;
  font-size: 1.4rem;
  margin: 5px;
  text-align: center;
  white-space: nowrap;
  overflow-x: clip;
  overflow-y: visible;
  text-overflow: ellipsis;
}

.albumArtist {
  margin: 10px;
  text-align: start;
  font-size: 1.2rem;
  display: inline;
}

.albumYear {
  display: inline;
  color: rgb(175, 175, 175);
  font-weight: bold;
}
